---
Checks:
  - "-*"
  - "misc-include-cleaner"
  - "openmp-*"
  - "performance-*"
  - "-performance-enum-size"
  - "portability-*"
  - "-portability-simd-intrinsics"
  - "readability-else-after-return"
  - "readability-inconsistent-declaration-parameter-name"
  - "readability-simplify-boolean-expr"
  - "readability-container-size-empty"
  - "readability-implicit-bool-conversion"
  - "readability-redundant-inline-specifier"
  - "readability-uppercase-literal-suffix"
  - "readability-redundant-casting"
  - "readability-make-member-function-const"
  - "readability-container-data-pointer"
  - "readability-static-definition-in-anonymous-namespace"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
