---
Checks:
  - "-*"
  - "misc-include-cleaner"
  - "openmp-*"
  - "performance-*"
  - "-performance-enum-size"
  - "portability-*"
  - "-portability-simd-intrinsics"
  - "readability-else-after-return"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
